@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --bg-color: rgb(169, 169, 169);
  --second-bg-color: rgb(250, 235, 215);
  --text-color: #fff;
  --main-color: rgb(188, 102, 3);
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
}

.aside {
  position: absolute;
}

#menu {
  background: var(--main-color);
  width: 15rem;
  height: 30rem;
  left: calc(24vw - 119px);
  top: calc(30vh - 99px);
}

/* estilo da foto */
.foto {
  margin-left: 10%;
  margin-top: 35%;
}

img {
  width: rem;
  border-radius: 50%;
}

nav {
  text-align: center;
  line-height: 2;
  margin: 15px;
}

.link-menu li {
  color: var(--text-color);
  list-style: none;
  text-transform: uppercase;
  cursor: pointer;
  border: solid 2px rgba(255, 217, 0, 0.371);
  margin-top: 10px;
}

.link-menu li:hover {
  color: #b58803;
}

#conteudo {
  background: var(--second-bg-color);
  width: 45rem;
  height: 30rem;
  left: calc(40vw - 109px);
  top: calc(30vh - 99px);
}
.move-conteúdo {
  margin-left: 25px;
  margin-top: 5rem;
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

h3 {
  padding-left: 15px;
  text-transform: uppercase;
}

span {
  color: var(--main-color);
  padding: 15px;
}
p {
  padding: 15px;
}

.social-media {
  margin-left: 3rem;
  margin-top: 5px;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 1.5rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}

.social-media a:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}

/* conhecimento */
.conhecimentos {
  margin-left: 30px;
  margin-top: 5rem;
}

.conhecimentos-titulo{
  font-size: 2rem;
  text-align: center;
}
.conhecimentos li{
  list-style-type:lower-alpha;
}


.conhecimentos i {
  color: var(--main-bg-color);
  margin-top: 2%;
  font-size: 2rem;
  border: solid 4px var(--main-color);
  border-radius: 50%;
  padding: 12px;
}

h4{
  display: inline;
  padding-left: 3px;
}

/* Objetivos */
.objetivos{
  margin-left: 30px;
  line-height: 3;
}